<html>
<head><title>FRIENDPOOL</title></head>
<body>
    <div style='position: absolute; top: 0; height:40px;'>
        <h3>FRIENDPOOL</h3>
    </div>
    
    <div style='margin-top: 60px;'>
    {{{ body }}}
    </div>
        
    <div style='position: absolute; bottom: 0; height:40px;'>
        <h3>Settings and Help</h3>
    </div>
</body>
</html>