<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    
    <link href="css/confirmalex.css" rel="stylesheet" type="text/css" />
    
    <title>Confirm</title>
    <meta name="description" content="Loading">
    <meta name="author" content="SitePoint">
</head>
<body>
    
    <div class="col-xs-12"><h2 class="text-center">Requesting a ride from</h2></div>
    
    <img src= '/images/alex.jpg' style = "text-align:center;">
    <p style="font-size:40px; text-align: center;"> Alex Lee</p>

    <script src="js/confirm.js"></script>
    
    <div class="row" style="text-align: center">
        
      <div class="col-xs-6"> <a href="loading" class="button" >Yes</a> </div>
                
      <div class="col-xs-6"> <a href="riderhomealex" class="button">No</a> </div>
        
       
    </div>
    
</body>
</html>