<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    
    <link href="css/confirmalex.css" rel="stylesheet" type="text/css" />
    
    <title>Confirm</title>
    <meta name="description" content="Loading">
    <meta name="author" content="SitePoint">
</head>
<body>
<!--
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Friendpool</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="drivertime">Driver</a></li>
                    <li><a href="riderinfo">Rider</a></li>
                    <li><a href="help">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
-->
    <div class="col-xs-12"><h2 class="text-center">Requesting a ride from</h2></div>
    
    <img src= '/images/alex.jpg' style = "text-align:center;">
    <p style="font-size:40px; text-align: center;"> Alex Lee</p>

    <script src="js/confirm.js"></script>
    
    <div class="row" style="text-align: center">
        <div class="col-xs-6"> <a href="loading" class="button" >Yes</a> </div>
        <div class="col-xs-6"> <a href="riderhomealex" class="button">No</a></div>
    </div>
    
</body>
</html>