<!DOCTYPE html>
<html lang="en">
<head>
    <title>Driver or Rider?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
        
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    <link href="css/driverrider.css" rel="stylesheet" type="text/css"/>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
        
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Friendpool</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="drivertime">Driver</a></li>
                        <li><a href="riderinfo">Rider</a></li>
                        <li><a href="help">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <h1>Driver or Rider?</h1>
        </div>
        
        <div class="row"> 
            <div class="col-xs-6" style="text-align:center;">
                <img class="img-rounded" src="images/drivernobg.png">
            </div>
            <div class="col-xs-6" style="text-align:center;">
                <img class="img-rounded" src="images/riderlogo.png">
            </div>
        </div>
        <div class="space" style="padding-bottom:4vmax;"></div>
        <div class="row">
            <div class="col-xs-6" style="text-align:center;">
                <a href="drivertime" class="btn-primary btn" role="button" style="position:relative; left:-5px;">Driver</a>
           </div>
            <div class="col-xs-6" style="text-align:center;">
                <a href="riderinfo" class="btn-primary btn" role="button" style="position:relative; left:5px">Rider</a>
            </div>
        </div>    

<!--
        <div style="text-align:center;">
            <div class="item">
                <img class="img-rounded" style="position:relative;left:-1vmax" src="images/drivernobg.png">
                <span class="caption">
                    <a href="drivertime" class="btn-primary btn-lg" role="button" style="position:relative; left:-5px;">Driver</a>
                </span>
            </div>
            <div class="item">
                <img style="padding-bottom:2vmax; padding-left:5vmax;" src="images/riderlogo.png">
                <span class="caption">
                    <a href="riderhome" class="btn-primary btn-lg" role="button" style="position:relative;left:5px">Rider</a>
                </span>
            </div>
        </div>
-->
    </div>
</body>
</html>