<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
<!--        <meta name="viewport" content="width=350">-->
        
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
         
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
        
</head>    
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Friendpool</a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="drivertime">Driver</a></li>
                <li><a href="riderhome">Rider</a></li>
                <li><a href="settings">Settings</a></li>
                <li><a href="help">Help</a></li>
                </ul>
            </div>
        </nav>
        <img id="logo" src="images/friendpoollogo.png" alt="Friendpool Logo" style="padding-top:2vmax">
        <div style="text-align: center; margin-top:1vmax; margin-bottom:3px;">
            
            <input style="font-family:Helvetica;width:30vmax" type="text" name="username" placeholder="Login">          
        </div>    
        <div style="text-align: center; margin-bottom:1vmax;">           
            <input style="font-family: Helvetica; width:30vmax" type="password" name="password" placeholder="Password">          
        </div>        

        <div class="divider"></div>  
        <div style="height: 5vmax; text-align: center">
            <a href="driverrider" class="btn-primary btn-lg" role="button">Sign in</a>
        </div>
        <p align="middle">Friendpool is a web application for UCSD students to network and commute to campus together. By choosing the &quot;Driver&quot; option, you are offering to pick up fellow students on your way to school. By choosing the &quot;Rider&quot; option, you have the ability to request rides from fellow students that are driving to school.</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">        
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    
    </body>
</html>