<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
<!--        <meta name="viewport" content="width=350">-->
        
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
         
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
        
</head>    
<body>

    <img id="logo" src="images/friendpoollogo.png" alt="Friendpool Logo" style="padding-top:2vmax">
    <div class="container">
        <div style="text-align: center; margin-top:1vmax; margin-bottom:3px;">
            
            <input style="font-family:Helvetica;width:30vmax" type="text" name="username" placeholder="Login">          
        </div>    
        <div style="text-align: center; margin-bottom:1vmax;">           
            <input style="font-family: Helvetica; width:30vmax" type="password" name="password" placeholder="Password">          
        </div>        

        <div class="divider"></div>  
        <div style="height: 7vmax; text-align: center">
            <a href="driverrider" class="btn-primary btn-lg" role="button">Sign in</a>
        </div>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">        
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    
    </body>
</html>