<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rider Information</title>
        <meta charset="utf-8">
    <!--<meta name="viewport" content="width=350">-->

        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="css/riderinfo.css" rel="stylesheet" type="text/css"/>
    </head>   
    
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Friendpool</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                        <li><a href="drivertime">Driver</a></li>
                        <li class="active"><a href="riderinfo">Rider</a></li>
                        <li><a href="help">Help</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1>Please enter your rider info</h1>
            <p>This information is for the driver to decide whether or not they can accommodate your pickup. Friendpool does not use this information for anything besides the sole purpose of relaying information to potential drivers.</p>
            <form class="form-horizontal" enctype="application/json">
                <div class="form-group" action = "riderhomealex">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-lg-9">
                        <input name="name" class="form-control" id="focusedInput" type="text" placeholder="Enter Name">
                    </div> 
                </div>
                
                    <label class="col-sm-2 control-label">Pickup Location</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="focusedInput" type="text" placeholder="Enter Desired Pickup Location">
                    </div>  
            
                
                    <label class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-lg-9">
                        <input class="form-control" id="focusedInput" type="text" placeholder="Enter Phone Number">
                    </div>  
               
               
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="riderhomealex" class="btn btn-default">Submit</a>
                    </div>
                
            </form>
        </div>
    </body>
</html>
