<!DOCTYPE html>
<html lang="en">
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88023564-1', 'auto');
  ga('send', 'pageview');

</script>
    
    <head>
        <title>Rider Information</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=375">

        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="css/riderinfo.css" rel="stylesheet" type="text/css"/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>   
    
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
<!--
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
-->
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand" href="/">Friendpool</a></li>
                        <li class="active" ><a href="drivertime" onClick = "ga('send', 'event', 'riderinfo2', 'Driver');">Driver</a></li>
                        <li><a href="riderinfo" onClick = "ga('send', 'event', 'riderinfo2', 'Rider');">Rider</a></li>
                        <li><a href="help" onClick = "ga('send', 'event', 'riderinfo2', 'Help');">Help</a></li>
                    </ul>
                    
<!--
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                        <li><a href="drivertime">Driver</a></li>
                        <li class="active"><a href="riderinfo">Rider</a></li>
                        <li><a href="help">Help</a></li>
                        </ul>
                    </div>
-->
                </div>
            </nav>  
            
            <h1>Please enter your rider info</h1>
            <p>This information is for the driver to decide whether or not they can accommodate your pickup. Friendpool does not use this information for anything besides the sole purpose of relaying information to potential drivers.</p>
            <form class="form-horizontal" enctype="application/json">
                <div class="form-group" action="riderhomealex">
                    <label class="col-xs-3 control-label">Name</label>
                    <div class="col-xs-9">
                        <input name="name" class="form-control" id="focusedInput" type="text" placeholder="Enter Name">
                    </div> 
                </div>
                <div class="form-group">    
                    <label class="col-xs-3 control-label">Pickup Location</label>
                    <div class="col-xs-9">
                        <input class="form-control" id="focusedInput" type="text" placeholder="Enter Desired Pickup Location">
                    </div>  
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">Phone Number</label>
                    <div class="col-xs-9">
                        <input class="form-control" id="focusedInput" type="text" placeholder="Enter Phone Number">
                    </div>  
               </div>
<!--
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="riderhomealex" class="btn btn-default">Submit</a>
                    </div>
-->
                <div class="pull-left">
                    <a href="driverrider">
                        <button type="button" class="btn-primary btn" onclick="goBack()">Go back</button>
                    </a>
                </div>                  
                <div class="pull-right">
                    <a href="riderhomealex">
                        <button type="button" onclick="mySubmit()" class="btn-primary btn" id="submit">Submit</button>
                    </a>            
                </div>
                
            </form>
        </div>
    </body>
</html>
