<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <link href="css/rideaccepted.css" rel="stylesheet" type="text/css" />
    
    <title>Ride Accepted</title>
    <meta name="description" content="Ride Accepted">
    <meta name="author" content="SitePoint">

</head>

<body>
    <h1>Ride Accepted!</h1>
    
    <div id="rideaccepted"></div>
<!--
    <script src="js/rideaccepted.js"></script>
-->
       
    <div class="ridegroup">
        <a href="thanks">
            <button type="button" class="btn btn-primary">Go to Ride Group</button>
        </a>
    </div>
    
</body>
</html>