<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Settings</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=500">
        
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link href="css/settings.css" rel="stylesheet" type="text/css"/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Friendpool</a>
                </div>
                <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="drivertime">Driver</a></li>
                <li><a href="riderhome">Rider</a></li>
                <li class="active"><a href="settings">Settings</a></li>
                <li><a href="help">Help</a></li>
                </ul>
            </div>
        </nav>
        <h1>settings</h1>
        <a href="javascript:history.back()">
            <button type="button" class="btn btn-primary" onclick="goBack()">Go back</button>
        </a>
        <a href="index" class="confirmation">
            <script type="text/javascript">
                var elems = document.getElementsByClassName('confirmation');
                var confirmIt = function (e) {
                    if (!confirm('Are you sure you want to log out?')) e.preventDefault();
                };
                for (var i = 0, l = elems.length; i < l; i++) {
                    elems[i].addEventListener('click', confirmIt, false);
                }
            </script>
            <button type="button" class="btn btn-danger">Log out</button>
        </a>
        
    </div>
    </body>
</html>