@font-face
{
    font-family: myFont;
    src:url('../fonts/BebasNeue Bold.otf');
}

h1 {
    text-align: center;
    font-size: 5vmax;
    font-family: myFont;
    letter-spacing: 1px;
}

body {
    background-color: #b3e6ff;
}

.navbar-brand {
    font-family: myFont;
    letter-spacing: 1px;
}

ul li a{
    font-family: myFont;
    letter-spacing: 1px;
    float: left;
}

select {
    display: block;
    margin: 0 auto;
}