@font-face
{
    font-family: myFont;
    src:url('../fonts/BebasNeue Bold.otf');
}

h1{
    text-align: center;
    font-size: 5vmax;
    font-family: myFont;
    letter-spacing: 1px;
}

body {
  background-color: #b3e6ff;
}

ul li a{
    font-family: myFont;
    letter-spacing: 1px;
    float: left;
}

p{
    text-align: center;
    font-size: 2vmax;
    font-family: Helvetica;
}

.navbar-brand {
    font-family: myFont;
    letter-spacing: 1px;
}