@font-face {
    font-family: myFont;
    src:url('../fonts/BebasNeue Bold.otf');
}


h1 {
    text-align: center;
    font-size: 5vmax;
    font-family: myFont;
    letter-spacing: 1px;
}

body {
    background-color: #b3e6ff;
}

.row {
    font-family: myFont;
    color: black;
    cursor: pointer;
    margin: auto;
    border-color: black;
    background-color:white;
    padding-top: 3vmax;
    padding-bottom: 3vmax;
    max-width: 50vmax;
}

.navbar-brand {
    font-family: myFont;
}

.col-xs-4 {   
    font-size: 3vmax;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
}

.col-xs-4 img {
    width: 5vmax;
    height: 5vmax;
    border-radius: 50%;
}

body .row {
    margin-bottom: 1vmax;
}

#unavailable {
    background-color: bisque;
}

ul li a {
    font-family: myFont;
    letter-spacing: 1px;
}