@font-face
{
  font-family: myFont;
  src:url('fonts/BebasNeue Bold.otf');
}

body {
  background-color: #b3e6ff;
}

h1 { 
  color: white;
  font-family: myFont;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 10vw;
}

.yes {
  color: white;
  margin: auto;
  display: inline-block;
  font-size: 10vw;
  font-family: myFont;
  padding-right: 150px;
}

.no {
  color: white;
  margin: auto;
  display: inline-block;
  font-size: 10vw;
  font-family: myFont;
  padding-left: 150px;
}

body {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.well {
  background-color: rgba(245, 245, 245, 0.4);
}
