@font-face
{
    font-family: myFont;
    src:url('fonts/BebasNeue Bold.otf');
}

.row
{
    margin: auto;
    text-align: center;
}

.row p1
{
    font-family: myFont;
    font-size: 60px;
}
.row img
{
    width: 225px;
    height: 225px;
}

.row p2
{
    font-family: myFont;
    font-size: 80px;
}

.yesno
{
    text-align: center;
}

#yes{ float:left}
#no {float:right}